.container{
    display: flex;
    justify-content: center;
    width: 75%;
    margin-bottom: 2em;
    
}
@media (max-width:770px)
{
    .container{
       width: 100%;
       margin-bottom: 2em;
     
    }
    
}